<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <div class="main-content">
    <div class="header">
      <h1>Welcome to The User Management App</h1>
    </div>
    <div class="home_buttons">
      <a class="home_button" href="/login">Login</a>  <a class="home_button" href="/signup">Sign Up</a>
    </div>
    
  </div>
  <%- include('partials/userCard') %>
  <% if (message) { %>
    <div id="popupMessage" class="popup <%= message.type %>">
      <%= message.text %>
    </div>
  <% } %>

  <%- include('./partials/footer') %>
  <script>
  document.addEventListener("DOMContentLoaded", () => {
    const popup = document.getElementById("popupMessage");

    if (popup) {
      // Auto-hide after 3 seconds
      setTimeout(() => {
        popup.style.animation = "fadeOut 0.4s forwards";

        // Remove from DOM after fade-out
        setTimeout(() => popup.remove(), 400);
      }, 3000);
    }
  });
  </script>


</body>
</html>
