<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <div class="main-content">
    <div class="header">
      <h1>Welcome to The User Management App</h1>
    </div>
    <div class="home_buttons">
      <a class="home_button" href="/login">Login</a>  <a class="home_button" href="/signup">Sign Up</a>
    </div>
    
  </div>
  <%- include('partials/userCard') %>

  <%- include('./partials/footer') %>
</body>
</html>
