<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    <a href="/" class="back"><img src="/images/backarrow.png">Back</a>
    <div class="header">
      <h1>Sign Up</h1>
    </div>
    
    <section class="inputs">
      <form action="/signup" method="POST">
      <p>Username:</p><input type="text" name="username" placeholder="Username" required><br>
      <p>E-mail:</p><input type="email" name="email" placeholder="Name@email.com" required><br>
      <p>Password:</p><input type="password" name="password" placeholder="Password" required><br>
    </section>

    <button type="submit">Sign Up</button>
  </form>
  </div>
  <%- include('partials/userCard') %>

  <%- include('./partials/footer') %>
</body>
</html>
