.home_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57vh;
}

.home_button {
  font-size: 5vh;
  display: inline-block;
  padding: 5vh 5vw;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px;
}



.home_button:hover {
  background-color: #0056b3;
}